.app__form-container {
  margin: 50px auto;
  box-sizing: border-box;
  width: 300px;
  height: 500px;
  border: 1px solid #f0f0f0;
  box-shadow: 0px 0px 10px 2px #f0f0f0; 
  display: flex;
  justify-content: center;

  @media all and (min-width: 768px) {
    width: 500px;  
    height: 600px;
  }
}

.app__form {
  margin: 30px 0;
  width: 80%;
}

.app__form-date {
  padding: 7px;
}

.date-field {
  box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  height: 30px;
}

.app__form-state {
  padding: 7px;
}

.radio__container {
  height: 30px;
  box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	background: transparent;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 0;
}

// .radio {
//   // appearance: checkbox;
// }

.label-sad {
  margin-left: 20px;
}

.app__form-message {
  padding: 7px;
}

.message-field {
  box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  height: 30px;
}

.form__buttons {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 7px;
}

.button {
  width: 100%;
  height: 25px;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 14px;
}

.button-save {
  background-color: #3f9bd1;
  border: 1px solid #3f9bd1;
  color: #ffffff;
  font-weight: bold;
}

.button-cancel {
  text-transform: capitalize;
  color: #a5a5a5;
}