.app__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
.app__calendar {
  margin: 50px auto;
  box-sizing: border-box;
  width: 300px;
  height: 500px;
  border: 1px solid #f0f0f0;
  box-shadow: 0px 0px 10px 2px #f0f0f0;

  @media all and (min-width: 768px) {
    width: 500px;  
    height: 600px;
  }
}
  
.add__button {
  background-color: #3f9bd1;
  border: 1px solid #3f9bd1;
  font-weight: bold;
  width: 100%;
  height: 50px;
  font-size: 40px;
  color: #ffffff;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  cursor: pointer;
}

.add__button:hover {
  background-color: #45abe6;
}
  
.calendar__container {
  margin: 30px 15px;
}

.mood__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 50px);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  // grid-gap: 15px;
  justify-content: center;
}
  
.mood__list-item {
  height: 50px;
  width: 50px;
  border-radius: 100px;
  display: grid;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.item--happy {
  background-color: #ffce00;
  color: #000000;
}
  
.item--sad {
  background-color: #ff532c;
  color: #ffffff;
}
  
.mood__text {
  font-weight: bold;
  font-size: 25px;
}