.app {
  margin: 0;
  background-color: #ffffff;
  font-family: 'Roboto Mono', monospace;
}

.app__header {}

.app__footer {}

a {
  text-decoration: none;
}

//>> Main Component
@import './styles/main';

//>> Edit Component
@import './styles/edit';